/* -------  VARIABLES -------*/

:root {
  --bgColor: #ffffff;
  --headerBgColor: rgba(255, 255, 255, 0.8);
  --borderColor: whitesmoke;
  --logoColor: #1d9bf0;
  --iconBgColor: #ffffff;
  --iconBgColor_hover: #eff3f4;
  --iconOver: rgb(120, 120, 120);
  --mainFont: "roboto";
  --mainTextColor: #050505;
  --mainFontSize: 1rem;
  --leftIconColor: rgb(120, 120, 120);
  --leftIconSize: 2rem;

  --inputBgColor: #eff3f4;
}

/* --------  GENERAL ---------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-page,
.center-page,
header {
  background-color: var(--bgColor);
  border: var(--borderColor) solid 1px;
}
ul,
li {
  list-style-type: none;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
h2 {
  padding-left: 20px;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: var(--mainTextColor);
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
}

.flex_v {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.flex_h {
  display: flex;
  align-items: top;
  justify-content: space-between;
  align-content: flex-start;
}

.center-page {
  width: 65%;
}

.right-page {
  width: 25%;
  padding: 20px;
}

.left-page {
  width: 10%;
  padding: 10px;
}

/* --------  CENTER ---------*/
header {
  height: 80px;
  top: 0px;
  position: fixed;
  background-color: var(--headerBgColor);
  left: 10%;
  width: 65%;
  padding: 20px;
}
/* --------  LEFT ---------*/
.logo {
  color: var(--logoColor);
}

.left-icon li {
  margin: 15px;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background-color: var(--IconBgColor);
  padding: 10px;
  border-radius: 100px;
}

.left-icon li:hover {
  background-color: var(--iconBgColor_hover);
}

.left-icon {
  font-size: var(--leftIconSize);
  color: var(--leftIconColor);
  text-align: center;
}

.smartphone {
  display: none;
}

/* --------  RIGHT --------- */
.right-page input {
  background-color: var(--inputBgColor);
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 4rem;
  font-size: var(--mainFontSize);
  padding-left: 60px;
}

.right-page input:focus {
  border: solid 1px var(--logoColor);
}

.input-icons {
  width: 100%;
}

.input-icons i {
  position: relative;
  top: 45px;
  left: 20px;
  font-size: 25px;
  color: var(--iconOver);
}

::placeholder {
  color: #a8abaf;
  font-size: 1.5rem;
}

.trends {
  background-color: var(--inputBgColor);
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
}

.trends .setting {
  font-size: 25px;
  margin-right: 20px;
}

.trends div {
  background-color: var(--inputBgColor);
  width: 100%;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.categorie {
  font-size: 1.2rem;
  color: #657480;
}

.hashtag {
  font-weight: bold;
  font-size: 1.3rem;
}

.tweet_number {
  font-size: 1.2rem;
  color: #657480;
}

.trend_item {
  cursor: pointer;
  padding-left: 20px;
}

.trend_item:hover {
  background-color: whitesmoke;
}

.trend_more {
  height: 30px;
  color: var(--logoColor);
}

/* ------  SMARTPHONE ------ */

@media only screen and (max-width: 1200px) {
  .center-page {
    width: 80%;
  }

  header {
    left: 20%;
    width: 80%;
  }

  .left-page {
    width: 20%;
  }

  .right-page {
    display: none;
  }
  .left-icon li {
    margin: 5px;
    width: 3rem;
    height: 3rem;
  }

  .smartphone {
    display: inline-block;
  }
}
